html,
body {
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}

.header {
  width: 100%;
  background-color: #cdcdcd;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.2em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #cdcdcd;
  text-align: center;
  padding: 0.2em;
}

.app-body {
  margin-top: 2em;
}

.info-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 1em;
  text-align: center;
}

.info-form label {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: right;
}

.info-form input {
  margin-left: 10px;
  width: 250px;
}

.submit-info {
  padding-bottom: 10px;
  width: 15em;
  justify-self: center;
}

.info-form label > textarea {
  grid-column: 1/-1;
  margin-top: 10px;
  width: 30em;
  height: 10em;
  justify-self: center;
}

.print-completed-info {
  margin-top: 50px;
}
